manifest_version: 2
name: "Click&Scroll"
version: "0.1"
description: "Lets you right click anywhere on the page and scroll, as if you clicked on the scrollbar."
content_scripts: [
	{
		matches: [
			"*://*/*"
		]
		js: [
			"clickandscroll.js"
		]
	}
]
